body {
    background-color: #e3f2e7;
}

h1 {
    color:hwb(180 80% 93%);
}

h3 {
    color:hwb(180 80% 93%);
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}